<!doctype html>
<html>

<head>
	<meta charset="utf-8" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title th:text="${product.name}">Product</title>
</head>

<body>
	<p class="breadcrums">
		Back to <a href="/product">Products</a> |
		<a href="/shoppingcart">Shopping Cart</a>
	</p>
	
	<h4 th:text="${product.name}">Product Name</h4>
	<p><b>Description:</b> <span th:text="${product.description}">Description</span></p>
	<p><b>SKU:</b> <span th:text="${product.sku}">SKU</span></p>
	<p><b>Price:</b> $<span th:text="${#numbers.formatDecimal(product.price, 1, 2)}">0.00</span></p>

	<div>
		<p>Add to Cart</p>
		<!-- form action="#" th:object="${shoppingCartItemCommand}" th:action="@{/shoppingcart/add}" method="post" accept-charset="utf-8" -->
			<!--input type="hidden" th:field="*{productId}" th:value="${productId}" /-->
		<form action="#" th:object="${shoppingCartItem}" th:action="@{/shoppingcart/add}" method="post" accept-charset="utf-8">
			<!--input type="hidden" th:field="*{product}" th:value="*{product}" /-->
			<input type="hidden" th:field="*{product.id}" th:value="${product.id}" />
			Quantity: <input type="number" th:field="*{quantity}" value="*{quantity}" min="1" required="required" />
			<button type="submit" name="add" th:text="'Add Item'" />
		</form>
	</div>
</body>

</html>