<!doctype html>
<html>

<head>
	<meta charset="utf-8" />
	<title>Products</title>
</head>

<body>
	<p class="breadcrums">
		Back to <a href="/product">Products</a> |
		<a href="/shoppingcart">Shopping Cart</a>
	</p>
	
	<h4>Products</h4>
	<section id="product-list" th:if="${not #lists.isEmpty(products)}">
		<article th:each="product : ${products}" style="padding:5px">
			<p>
				<b><a href="/product/" th:href="@{/product/{productId}(productId=${product.id})}"><span th:text="${product.name}">Name</span></a></b><br/>
				Description: <span th:text="${product.description}">Description</span><br/>
				SKU: <span th:text="${product.sku}">SKU</span><br/>
				Price: $<span th:text="${#numbers.formatDecimal(product.price, 1, 2)}">0.00</span>
			</p>
		</article>
	</section>
	<section id="product-list" th:if="${#lists.isEmpty(products)}">
		<i>There are no products</i>
	</section>
</body>

</html>